/* Font Weight */
$fw-n:       400;
$fw-m:       500;
$fw-sb:      600;
$fw-b:       700;
/* Font sizes */
$f12:              12px;
$f14:              14px;
$f16:              16px;
$f18:              18px;
$f20:              20px;
$f24:              24px;
$f30:              30px;
$f32:              32px;
$f40:              40px;
$f48:              48px;
$f98:              98px;

/* colors */
$black:              #000;
$gray:               rgba(51, 51, 51, 0.5);
$yellow-h:           #B69900;
$yellow:             #E8C300;
$white:              #fff;

/* breakpoints */
$b-ms:     600px;
$b-sm:     790px;
$b-md:     940px;
$b-lg:     1024px;
$b-xl:     1440px;
$b-xxl:    1512px;
